*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100%;
  

}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* border: 2px solid red; */
  
}
a{
  color:gray;
  text-decoration: none;
}

a:hover{text-decoration: none;
  transition: ease-in 1s;


}

.header-btn{
  width: 70px; ;
  height: 30px;
  background-color: rgb(14, 119, 232);
  color: white;
  border-radius: 5px;
  border-color: white;

}

.header-btn:hover{
  background-color: rgba(14, 119, 232, 0.732);
  cursor: pointer;


}

.right{
  display: flex;
  align-items: center;
  gap:10px;

}

.left{
  display: flex;
  gap: 10px;
}
.main{
  /* border: 2px solid red; */
  width: 100%;
  text-align: center;
  margin-top: 150px;}

  .buttons{
    margin: 25px;
  }

  .btn{margin-left: 10px;
    width: 120px;
    height: 30px;
    background-color: rgba(224, 222, 222, 0.547);
    border-radius: 3px;
    border-color: white;

  }

  .btn:hover{
    cursor: pointer;
  }

 .searchbar{
  position: relative;
  flex-wrap: wrap;

 }
 #scope{width: 450px;
  height: 40px;
  border: 2px solid rgb(189, 185, 185);
  border-radius:20px;
  outline: none;
  padding-left: 40px;
  /* padding-right: 20px; */
  

 }

 #buyutec{
  width: 30px;
  position: relative;
  left: 46px;
  top: 8px; 
  flex-wrap: wrap;
 }

 #microphone{
  position: relative;
  right:36px ;
  top: 7px;
 }
 #english{
  color:blue;
 }

 .footer{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  position: relative;
  top: 33rem;

   padding: 20px;
  align-items: center;
  background-color:rgb(245, 240, 240);
  /* flex-wrap: wrap; */

}
 .left{
  display: flex;
  gap: 15px;
  /* flex-wrap: wrap; */
  
 }
 .right{
  display: flex;
  gap: 15px;
  /* flex-wrap: wrap; */
 }
 a.end{
  color: gray;
 }
 a.end:hover{
  text-decoration: none;
 }
 .turkey{
  background-color:rgb(245, 240, 240);
  position: relative;
  top: 33rem;
  padding: 15px;
  color: gray;
 }



 

